encryption = "age"
[age]
identity = "~/.config/age/key.txt"
recipients = ["age1702zeej6q48plcgchfy9l68p9jegsryj3h6029rpr2t7t6resc3sa97acd", "age19azmnl8ee2f4r95jnwvr47uhllf33eq66dfc3vuxezq7k5vwqgfsyrdv8n", "age1yubikey1qvep9uz5xzds4azvlrf5vatl5gmfj48qr8huw5009quwffzvwv80c9avq5j"]
